.vsc-initialized {
    margin: 0;
    padding: 0;
}

.siteTitle{
    margin-right: auto;
    padding-left: 1em;
}

.navBar {
    display: flex;
    height: 3em;
    width: 100%;
    align-items: center;
    
    margin-bottom: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.rightNav {
    padding-right: 1em;
    gap: 1em;
    display: flex;
    justify-self: end;
}

body{
    font-family: Optima, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
