// SITE WIDE --------------------
.App {
    display: flex;
    flex-direction: column;
}

body {
    margin: 1em;
    min-height: 100vh;
}

.vsc-initialized {
    margin: 0;
    padding: 0;
}

body {
    font-family: Optima, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


// GRIDTEST--------------------

.gridContainer {
    min-height: 400px;
    max-height: calc(100vh - 3rem);
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr 1fr);
    grid-template-rows: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(auto, auto); 
}

.box {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    background-color: rgba(var(--background-color), 0.5);
    border: solid transparent;
    border-width: 2px;
    transition: border-color 0.3s ease;
    min-width: 160px;
    min-height: 210px;
    align-items: center;
}
.box:nth-child(-n+6) {
    background-image: url(public/siteImages/dots5opacity.png);
    background-blend-mode: overlay;
}

.boxTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homeArrowIcon{
    color:#181307;
    font-size: 1.8vh;
    opacity: 0%;
    padding-top: 1% ;
}

.box h1 {
    font-size: 2.5vh;
    color: #FAF7EF;
    justify-self: flex-start;
    align-self: flex-start;
}

.box img {
    max-height: 80%;
    max-width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.box:hover .homeArrowIcon {
    transform: translateX(5px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}
.box:hover img {
    transform: scale(1.01)
}

// about
.box:first-child {
    grid-column: 1/3;
    grid-row: 1/5;
    padding: 1em;
    padding-top: 2em;
    max-height: 100%;
}
.homeAboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow-y: auto;
    width: 95%;
    height: 95%;
}
.homeAboutText {
    flex-grow: 1;
    max-height: 90%;
    // overflow-y: auto;;
}
.homeProfPic {
    width: 80%;
    border-radius: 100%;
}

// Projects
.box:nth-child(2) {
    grid-column: 3/9;
    grid-row: 1/3;
    border-color: transparent;
}
.box:hover {
    // border-width: 0px;
    border-color: #42423E;
}
.box:first-child:hover {
    // border-width: 0px;
    border-color: #FAF7EF;
}

.homePageProjectContents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    width: 95%;
    color: black;
    justify-content: space-between;
    text-align: justify;
    text-justify: inter-word;
}

.homePageDemo {
    //374x666pixels
    aspect-ratio: 374/666;
    height: 80%;
}

.homeProjectDesciption {
    margin-left: 2em;;
    margin-right: 1em;;
    padding-right: 1em;
    max-height: 80%;
    overflow-y: auto;
}
.homeProjectDesciption h3{
    margin-top: 0px;
}

// art
.box:nth-child(3) {
    grid-column: 3/5;
    grid-row: 3/5;
}

// Animatoins
.box:nth-child(4) {
    grid-column: 5/7;
    grid-row: 3/5;
}

// Graphics
.box:nth-child(5) {
    grid-row: 3/5;
    grid-column: 7/9;
}

// socials
.box:nth-child(6) {
    grid-column: 1/3;
    grid-row: 4/5;
}

.homePageProjectsTitle {
    font-size: 1vh;
    text-shadow: -1px 1px 1px #ffffff68,
        1px 1px 1px #ffffff68,
        1px -1px 1px #ffffff68,
        -1px -1px 1px #ffffff68;
}

.box:nth-child(n+2):nth-child(-n+6) h1 {
    color:#181307;
}

// HOME -----------------------

.homePage {
    display: grid;
    flex: row;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    justify-content: stretch;
    align-self: center;
    padding-bottom: 3rem;
}
.homeHero {
    // height: 100vh;
    // width: 100vw;
    background-image: url("public/siteImages/Blanko dots white bkg full2 .png");
    // background-color: rgb(175, 255, 231);
    // display: flex;
    // justify-content: center;
    // padding: 3em;
}
.inlineHomePage {
    display: flex;
}
.homeProjectContainer {
    // width: 50%;
    // max-height: 100vh;
    // padding: 2%;
    // display: flex;
    // justify-content: center;
    background-color: antiquewhite;
}
.homeArtContainer {
    // width: 50%;
    // max-height: 100vh;
    // display: flex;
    // justify-content: center;
    background-color: rgb(212, 255, 163);
    // padding: 3em;
}

// ABOUT ---------------------
.pageContainer {
    display: flex;
    justify-content: center;
    // align-items: center;
    padding: 1em;
    // height: 100vh;
    // background-image: url("public/siteImages/Blanko dots white bkg full2 .png");
    // opacity: 50%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 2em;
    border-radius: 1%;
    border: 1px solid #f0f0f0;
    // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 120%;
}

.aboutProfPic{
    width: 10rem;
    border-radius: 100%;
}

hr {
    width:100%;
    border: 1px solid #f0f0f0;
}

.about h3 {
    font-size: 1.6rem;
    margin: .3em;
    margin-bottom: 0;
}

.about h2 {
    font-size: 1rem;
    margin: 0;
}

.about p{
    font-size: 1rem;
    text-align: justify;
}

.contactIcons {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: black;

    justify-content: center;
    gap: 0.3em;
    font-size: 1.5em;
}

.aboutCollapse{
    font-size: 1rem;
    min-width: 324px;
}
.tabs {
    font-size: 1rem;
}

/* Media Query for responsive behavior */
@media (max-width: 768px) {
    .about {
        width: 90%;
            margin: 0 auto;
        /* Full width on narrower viewports */
    }
}

// NAV BAR -----------------------------------
.navBar {
    z-index: 10;
    background-color: white;
    // position: absolute;
    display: flex;
    height: 3rem;
    width: 100%;
    align-items: center;
    // margin-bottom: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.rightNav {
    // padding-right: 1em;
    /* gap: 1em; */
    display: flex;
    justify-self: end;
}

.headerSubBox {
    display: flex;
    background-color: rgb(255, 255, 255);
    /* border-radius: .5em; */
    padding-left: 1em;
    padding-right: 1em;
    height: 3rem;
    align-items: center;
    width: 6em;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.headerSubBox.hovered {
    background-color: rgb(235, 235, 235);
}

.siteTitle {
    display: flex;
    margin-right: auto;
    padding-left: 1em;
    width: 12em;
    height: 3rem;
    cursor: pointer;
    // justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.siteTitle.hovered {
    background-color: rgb(235, 235, 235);
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
    z-index: 10;
height: auto;
    align-items: center;
    width: 8em;    position: absolute;
    /* Change to absolute positioning */
    top: 3rem;
    /* Adjust the distance from the navbar */
    // width: 100%;
    /* Set the width to fill the container */
    background-color: white;
    /* Add a background color */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Add a box shadow */
}

// FOOTER -----------------------------

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.footer.fade-in {
    opacity: 1;
}

.footerText{
    padding-top: 10em;
    font-size: small;
    color: grey;
}

// PROJECTS -----------------------------
.loomContainer {
    position: relative;
    padding-bottom: 66.66666666666666%;
    height: 0;
    // width: 30%
}
.loomVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projectsContainer {
    display: flex;
    flex: row;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 16px; 
    width: 100%;
    height: 100%;
    padding: 1em;
    padding-top: 2em;
    justify-content: center;
    align-self: center;
}

// ART-------------------------

.artContainer {
    display: flex;
    flex: row;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 16px;
    width: 80%;
    height: 100%;
    padding: 1em;
    padding-top: 2em;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
    padding-bottom: 4em;
}
.youTubeVideo {
    aspect-ratio: 16/9;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.sketchPageContainer {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 4em;
}

// .sketchFrame {
//     height: 80vh;
//     // width: 100%;
//     border: black solid 1px;
//     aspect-ratio: 1/1;
// }

.sketch {
    // max-height: 100%;
    // max-width: 100%;
    max-height: 85vh;
    max-width: 90vw;
    border: solid black 1px
}

.graphics {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 90vh;
    max-width: 100%;
}

.animationContainer {
    display: flex;
    flex: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 80%;
    height: 100%;
    padding: 1em;
    padding-top: 2em;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
    padding-bottom: 4em;
}
.sketchButton {
    font-size: '20px';
    height: 50;
    border-radius: 100;
}