body {
    --lime: #ccf381;
    --electric-blue: #4831d4;
    --bg-color: #f5f4fc;
    --bg-content-color: #f5f4fc;
    --bg-code: #fffbf3;
    --body-color: #474747;
    --title-color: #474747;
    --link-color: #6b17e6;
    --border-color: #cbc9dd;
    --space: 3.5rem;
    --content-width: 940px;
    --header-height: 80px;
    --radius: 5px;
}