body {   
    --background: rgb(240, 240, 240);

    --primary1: #893434;
    --secondary1: #ffd574;

    --primary2: #deede5;
    --secondary2: #183b39;

    --primary3: #202020;
    --secondary3: #e3e3e3;

    --radius: 5px;
}