body {   
    --ant-blue: #1677ff;
    --ant-blue-1: #6AA8FF;
    --ant-blue-3: #88B9FF;
    --ant-blue-4: #B3D2FF;
    --ant-blue-5: #CEE2FF;
    --ant-blue-5: #D8E8FF;

    --ant-blue-a: #032B63;
    --ant-blue-b: #D8E8FF;
    --ant-blue-c: #D8E8FF;
    --ant-blue-d: #D8E8FF;
    --ant-blue-e: #D8E8FF;



    --bg-color: #b3a8ff;
    --bg-content-color: #f5f4fc;
    --bg-code: #ffffff;
    --primary-bg: #f5f4fc;
    --title-color: #474747;
    --link-color: #6b17e6;
    --border-color: #cbc9dd;
    // --space: 3.5rem;
    // --content-width: 940px;
    // --header-height: 80px;
    --radius: 5px;
}